<% if user_signed_in? %>
  <%= subscribe_to '/live-feed' %>

  <h2 id="title">Hi <%= link_to current_user.username, user_path(current_user) %></h2>

  <%= image_tag current_user.avatar.url(:thumb) %>

  <%= render 'posts/form' %>
      <div id="posts" class="home-page-posts animated fadeIn ">
          <%= render @posts.sort_by(&:created_at).reverse %>
      </div><!-- Home page posts -->

  <%= will_paginate @posts, previous_label: h("<"), next_label: h(">") %>
  <% else %>
  <h2 id="title">Hi.</h2>

  <%= render 'sessions/status' %>
<% end %>
