<h3><%= @user.username %></h3>

<img src="<%= @user.image_src %>">
<p>Bio: <%= @user.bio %></p>

<% if current_user = @user %>
  <%= link_to "Edit Profile", edit_user_path(@user), remote: true %>
<% end %>

<% unless current_user == @user %>
  <% if current_user.following.include?(@user) %>
    <%= render partial: 'shared/unfollow_button', locals: {user: @user} %>
  <% else %>
    <%= render partial: 'shared/follow_button', locals: {user: @user} %>
  <% end %>
<% end %>

<table id="posts"><%= render @posts.sort_by(&:created_at).reverse %></table>
