<%= subscribe_to '/live-feed' %>

<section class="col-md-7 col-sm-12 col-md-offset-5 main-content">
  <h2 id="title" class="text-right">
    Hi
    <%= link_to current_user.username, user_path(current_user) %>
    <%= image_tag current_user.avatar.url(:thumb), id: 'user-pic' %>
  </h2>

  <div class="sub-nav">
    <%= link_to "PokéPostz", posts_path, class: "select-posts" %>
    <%= link_to "PokéPalz", timeline_path, class: "select-categories active" %>
  </div>

  <%= render 'posts/form' %>

  <div id="posts" class="home-page-posts animated fadeIn ">
    <%= render @posts.sort_by(&:created_at).reverse %>
  </div>
  <%= will_paginate @posts %>
</section><!-- main content -->
