<tr id="post-<%= post.id %>">
  <td>
    <%= post.user ? post.user.username : 'Guest'%>:
  </td>
  <td class="body-cell">
    <%= post.body %>
  </td>
  <td>
    <%= time_ago_in_words post.created_at %> ago
  </td>
  <% if user_signed_in? && post.user == current_user %>
    <td class="edit-cell">
      <%= link_to 'Edit', edit_post_path(post), remote: true %>
    </td>
    <td class="delete-cell">
      <%= link_to 'Delete', destroy_post_path(post), method: 'delete', remote: true %>
    </td>
  <% end %>
</tr>
