<td>
  <%= image_tag post.user.avatar.url(:post) %>
</td>
<td>
  <%= link_to "#{post.user.username}", user_path(post.user) %>:
</td>
<td>
  <span class="post-body"><%= best_in_place post, :body %></span> EDIT ME
</td>
<td>
  <%= time_ago_in_words post.created_at %> ago
</td>
<td>
  <%= link_to "Delete", destroy_post_path(post), method: 'delete', class: "btn btn-default", remote: true %>
</td>
