<%= subscribe_to '/live-feed' %>

<h2 id="title">Hi <%= current_user.username %></h2>
<img src="<%= current_user.image_src %>">
<%= link_to "Sign out", sign_out_path, id: 'sign-out-button', method: 'delete' %>

<%= render 'posts/form' if user_signed_in? %>

<table id="posts"><%= render @posts.sort_by(&:created_at).reverse %></table>
