<%= subscribe_to '/live-feed' %>

<%= will_paginate @posts %>
<h2 id="title">Hi <%= link_to current_user.username, user_path(current_user) %></h2>

<img src="<%= current_user.image_src %>">

<%= link_to "Sign out", sign_out_path, id: 'sign-out-button', class: "btn btn-default", method: 'delete' %>

<%= render 'posts/form' if user_signed_in? %>

<table id="posts" class="table"><%= render @posts.sort_by(&:created_at).reverse %></table>
