<div id="menu-target">
    <ul>
        <li>
          <i class="fa fa-home"></i>
          <%= link_to "PokéPosts", root_path %>
        </li>
        <li>
          <i class="fa fa-user"></i>
          <%= link_to "#{current_user.username}", current_user %>
        </li>
        <li>
          <i class="fa fa-users"></i>
          <%= link_to "Followers", user_followers_path(current_user) %>
        </li>
        <li>
          <i class="fa fa-star"></i>
          <%= link_to "Following", user_following_path(current_user) %>
        </li>
        <li>
          <i class="fa fa-sign-out"></i>
          <%= link_to "Sign out", sign_out_path, method: 'delete' %>
        </li>
    </ul>
    <hr>
    <ul>
        <li class="follower_suggestions">
          <i class="fa fa-user-plus"></i>
          <span id="suggestion-title">Follow the following?</span>
          <%= render 'shared/suggestion' %>
        </li>
    </ul>
</div>

<section class="sidebar col-md-5 col-sm-12" style="background-image: url('<%= asset_path "mountain" %>'); background-position: left;">

    <span class="menu-trigger animated fadeInDown">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </span>

    <!-- if the user has javascript disabled they can still use the menu -->
    <noscript>
        <div class="no-js-menu">
          <ul>
              <li><i class="fa fa-home"></i><%= link_to "PokéPosts", root_path %></li>
              <li><i class="fa fa-user"></i><%= link_to "#{current_user.username}", current_user %></li>
              <li><i class="fa fa-anchor"></i><%= link_to "My Followers", user_followers_path(current_user) %></li>
              <li><i class="fa fa-star"></i><%= link_to "My Following", user_following_path(current_user) %></li>
              <li><i class="fa fa-paper-plane"></i><%= link_to "Sign Out", sign_out_path, method: 'delete' %></li>
          </ul>
        </div>
    </noscript>
    <!-- end no script -->
    <div class="search-bar">
        <p><%= render 'layouts/search' %></p>
    </div>
    <div class="site-info">
        <div class="primary-info">
            <h1>Capsule Monsters <%= render 'layouts/pokeball' %></h1>
        </div>
    </div>
</section><!-- end sidebar -->
